
<!-- Star Doctors Area
============================================= -->
<div class="doctors-area three-colum bg-gray default-padding bottom-less">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="site-heading text-center">
          <h4>Doctores</h4>
          <h2>Our Experts</h2>
        </div>
      </div>
    </div>
    <div class="doctor-items text-center">
      <div class="row">
        <!-- Single Item -->
        <div class="col-lg-4 col-md-6 single-item">
          <div class="item">
            <div class="thumb">
              <img src="assets/icon/doctor1.jpg" alt="Thumb">
              <div class="button">
                <a href="">Get Appoinment</a>
              </div>
            </div>
            <div class="info">
              <h4>Prof. Jones Athom</h4>
              <span>Orthopaedics</span>
              <div class="consultation">
                <h5>Consultation - <span class="flaot-right">(012)3456789</span></h5>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-lg-4 col-md-6 single-item">
          <div class="item">
            <div class="thumb">
              <img src="assets/icon/Doctor2.jpg" alt="Thumb">
              <div class="button">
                <a href="">Get Appoinment</a>
              </div>
            </div>
            <div class="info">
              <h4>Dr. Anam Habu</h4>
              <span>Cardiologist</span>
              <div class="consultation">
                <h5>Consultation - <span class="flaot-right">(066)3456789</span></h5>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-lg-4 col-md-6 single-item">
          <div class="item">
            <div class="thumb">
              <img src="assets/icon/Doctor3.jpg" alt="Thumb">
              <div class="button">
                <a href="">Get Appoinment</a>
              </div>
            </div>
            <div class="info">
              <h4>Prof. Buba Pal</h4>
              <span>Medical specialist</span>
              <div class="consultation">
                <h5>Consultation - <span class="flaot-right">(058)3456789</span></h5>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Item -->
      </div>
    </div>
  </div>
</div>
