<div class="sidebar " >
    <div class="image    ">
      <img class="rounded mt-5 " src="assets/img/profil/doc1.jpeg" alt="Logo" />
      <p class="logo-text"><span class="font-italic">Doctor </span> Anis Bolif</p>
    </div>
    <ul class="options">
        <!--<p class=" mx-3 font-weight-bold text-secondary">Options</p>-->
      <li class="op1 "><a  class="orange" [routerLink]="['/Doctor/Dashboard']" >Dashboard</a><i class="icon orange fa-solid fa-chart-line"></i></li>
      <li class="op2 red"><a class="orange" [routerLink]="['/Doctor/Appointments']" >Appointments</a><i class=" orange icon fa-solid fa-calendar-check"></i></li>
      <li class="op2"><a class="orange" [routerLink]="['/Doctor/Calendrier']" >Calendrier</a><i class="orange icon fa-solid fa-calendar-days"></i></li>
      <li class="op3"><a class="orange" [routerLink]="['/Doctor/Patients']">Patients</a><i class="orange icon fa-solid fa-hospital-user"></i></li>
      <li class="op4"><a class="orange" [routerLink]="['/Doctor/Ordonnance']">Ordonnance</a><i class="orange icon fa-solid fa-capsules"></i></li>
      <li class="op5"><a class="orange" [routerLink]="['/Doctor/Settings']">Settings</a><i class="orange icon fa-solid fa-gear"></i></li>
     
      
    </ul>
  </div>
  