.nav-link.active{
    background-color: #7FFFD4;
    color: white;
}
.nav-link{
    color: black;
}
.col-lg-7.col-md-12.info{
    margin-top: auto;
}
.col-lg-7.col-md-12.info h4 {
    font-family: Georgia, serif	;
    margin-bottom: 20px;
}
.col-lg-7.col-md-12.info p{
    font-family: Optima, sans-serif	;
    color: grey;
    margin-top: 20px;
}
.col-lg-7.col-md-12.info h5{
    font-weight: bold;
    color: #5F9EA0;
}
.col-lg-7.col-md-12.info ul{
    list-style: none;
    padding: 0;
}
.col-lg-7.col-md-12.info ul li {
    display: flex; 
    align-items: center; 
    margin-bottom: 5px; 
}
.col-lg-7.col-md-12.info ul li span {
    margin-right: 30px; 
}
.float-right.closed{
    color: red;
}