<div class="container ">
  <div class="row px-3 mx-4">
   
      <div class="col-lg-3 col-sm-6 widget widget1">
        <div class="info-box7 l-bg-card1 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15 icon1">Todays Patients</h5>
            <h2 class="text-end"><i class="icon1 fas fa-user-injured float-start"></i><span>231</span></h2>
            <p class="m-b-0 icon1">18% Higher Then Last Month</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-sm-6 widget widget2">
        <div class="info-box7 l-bg-card2 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Appointments</h5>
            <h2 class="text-end"><i class="far fa-calendar-check float-start"></i><span>122</span></h2>
            <p class="m-b-0">21% Higher Then Last Month</p>
          </div>
        </div>
      </div>
     
      <div class="col-lg-3 col-sm-6 widget widget4">
        <div class="info-box7 l-bg-card3 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Todays Operations</h5>
            <h2 class="text-end"><i class="fas fa-cut float-start"></i><span>28</span></h2>
            <p class="m-b-0">37% Higher Then Last Month</p>
          </div>
        </div>
      </div>
   
  </div>
<!--end of widget-->
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="">

      </div>
    </div>
    <div class="col-4 ">
      
      <ul class="list-group lis shadow-lg">
        <li class="list-group-item">
            <img src="assets/img/profil/profil1.jpg" class="round-image" alt="Image1"> Patient1
        </li>
        <li class="list-group-item">
          <img src="assets/img/profil/profil1.jpg" class="round-image" alt="Image1"> Patient1
      </li> <li class="list-group-item">
        <img src="assets/img/profil/profil1.jpg" class="round-image" alt="Image1"> Patient1
    </li> <li class="list-group-item">
      <img src="assets/img/profil/profil1.jpg" class="round-image" alt="Image1"> Patient1
  </li> <li class="list-group-item">
    <img src="assets/img/profil/profil1.jpg" class="round-image" alt="Image1"> Patient1
</li>
        <!-- ... (les autres éléments de la liste) ... -->
    </ul>
    
     
    </div>
  </div>
</div>

<div class="container">
<div class="row  mt-5 mb-5">
<div class="col-lg-3 col-sm-6 todolist">
  <div class="card" >
    <div class="card-header ">
     <i class="fa-solid fa-list"></i>     TO DO LIST
    </div>
    <ul class="list-group list-group-flush">
     
      <li class="list-group-item "> <input type="checkbox" class="form-check-input" ><span class="mx-2">Cras justo odio</span> </li>
      <li class="list-group-item "> <input type="checkbox" class="form-check-input" ><span class="mx-2">Cras justo odio</span> </li>
      <li class="list-group-item "> <input type="checkbox" class="form-check-input" ><span class="mx-2">Cras justo odio</span> </li>
      <li class="list-group-item "> <input type="checkbox" class="form-check-input" ><span class="mx-2">Cras justo odio</span> </li>
   
    </ul>
  </div>
</div>
<div class="col-lg-4 col-sm-6 ">
  <div class="card" >
    <div class="card-header ">
     <i class="fa-solid fa-list"></i>     TO DO LIST
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item "> <input type="checkbox" class="form-check-input" ><span class="mx-2">Cras justo odio</span> </li>
      <li class="list-group-item "> <input type="checkbox" class="form-check-input" ><span class="mx-2">Cras justo odio</span> </li>
      <li class="list-group-item "> <input type="checkbox" class="form-check-input" ><span class="mx-2">Cras justo odio</span> </li>
      <li class="list-group-item "> <input type="checkbox" class="form-check-input" ><span class="mx-2">Cras justo odio</span> </li>
      <li class="list-group-item "> <input type="checkbox" class="form-check-input" ><span class="mx-2">Cras justo odio</span> </li>
   
    </ul>
  </div>
</div><div class="col-lg-4 col-sm-6 ">
  <div class="info-box7 l-bg-card1 order-info-box7">
    <div class="info-box7-block">
      <h5 class="m-b-15 px-5">Number of Patients</h5>
      <h2 class="text-end"><i class="mx-5 fas fa-user-injured float-start"></i><span>231</span></h2>
      <div>
             Graphe
      </div>
    </div>
  </div>
</div>
</div>
</div>