<div class="container ">
  <div class="row px-3 mx-4">
   
      <div class="col-lg-3 col-sm-6 widget widget1">
        <div class="info-box7 l-bg-card1 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15 icon1">Les patients d'aujourd'hui</h5>
            <h2 class="text-end"><i class="icon1 fas fa-user-injured float-start"></i><span>{{nbPatientsTOTAL}}</span></h2>
            <p class="m-b-0 icon1">18% Plus élevé que le mois dernier</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-sm-6 widget widget2">
        <div class="info-box7 l-bg-card2 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Rendez-vous aujourd'hui </h5>
            <h2 class="text-end"><i class="far fa-calendar-check float-start"></i><span>{{nbTotalAppoitment}}</span></h2>
            <p class="m-b-0">21% Plus élevé que le mois dernier</p>
          </div>
        </div>
      </div>
     
      <div class="col-lg-3 col-sm-6 widget widget4">
        <div class="info-box7 l-bg-card3 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Opérations d'aujourd'hui</h5>
            <h2 class="text-end"><i class="fas fa-cut float-start"></i><span>28</span></h2>
            <p class="m-b-0">37% Plus élevé que le mois dernier</p>
          </div>
        </div>
      </div>
   
  </div>
<!--end of widget-->
<div class="container">
  <div class="row">
    <div class="col-8">
    
      <div class="chart-container p-3 rounded m-4">
        <div class="titre_chart mb-2 "><p>Consultation par jour</p> </div>
        <canvas  id="MyChart" ></canvas>
       </div>
    </div>
    <div class="col-4 rounded">
      
      <ul class="list-group lis rounded">
        <li class="" >
          <span class=" patientlist-text1">List des patients</span>
          <hr class="m-0 mt-1">
          
      </li>
      <li class="" *ngFor="let Patient of PatientList">
        <ng-container *ngIf="Patient.Id_patient">
            <img src="assets/img/profil/profil1.jpg" class="round-image" alt="Image1"> 
            <span class="mx-2 patientlist-text">{{ Patient.Id_patient.firstName }} {{ Patient.Id_patient.lastName }}</span> 
            <span class="m-1 patientlist-text2 float-right">{{ Patient.date }} {{ Patient.hour }}</span>
        </ng-container>
    </li>
    
      
       
       </ul>
    
     
    </div>
  </div>
</div>

<div class="container">
<div class="row  mt-5 mb-5">
<div class="col-lg-3 col-sm-6 todolist">
  <div class="card" >
    <div class="card-header ">
     <i class="fa-solid fa-list"></i>     TO DO LIST
     <button type="button" class="add-ToDo" (click)="newEvent()" data-toggle="modal" data-target="#exampleModal">
      <i class="plus fa-solid fa-plus"></i>
    </button>
    </div>
    <ul class="list-group list-group-flush" *ngFor="let todo of ListToDo; let i = index">
      <li class="list-group-item">
        <input type="checkbox" class="form-check-input" (change)="checkedDo(i)" [(ngModel)]="todo.cheked">
        <span class="mx-2">{{todo.event}}</span>
      </li>
    </ul>
  </div>
</div>
<div class="col-lg-4 col-sm-6  graph_patient rounded">
  <div class="info-box7 l-bg-card1 order-info-box7">
    <div class="info-box7-block">
      <h5 class="m-b-15 mt-2 patientlist-text3"></h5>
      <div class="p-2 mt-2">
        <canvas  id="graph" ></canvas>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-sm-6  graph_patient rounded">
  <div class="info-box7 l-bg-card1 order-info-box7">
    <div class="info-box7-block">
      <h5 class="m-b-15 mt-2 patientlist-text3">Nombres des Patients</h5>
      <div class="p-2 mt-2">
        <canvas  id="patientChart" height="300"></canvas>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div  #myModal class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >To Do</h5>
        
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row my-2">
              <label  class="col-sm-2 col-form-label txt">Event</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [ngModelOptions]="{ standalone: true }" [(ngModel)]="TODO.event" >
              </div>
            </div>
          
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="addToDo()">Ajouter</button>
      </div>
    </div>
  </div>
</div>