

<app-navbar-admin></app-navbar-admin>
<div>
<!--
    <div class="container-fluid">
      <button class="btn d-flex" (click)="toggleMenu()"><img src="/assets/img/hamburger.png" width="25" height="25"
                                                             alt="humburger" id="hamburger"></button>
      <form class="d-flex" role="search" id="searchbar">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">

        <button class="btn btn-outline-success" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
               viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </button>
      </form>

      <div class="btn-group" style="margin: 0px">

        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-badge"
               viewBox="0 0 16 16">
            <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path
              d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492z"/>
          </svg>
        </button>


        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item d-flex justify-content-between" href="#">Settings
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-sliders2"
                 viewBox="0 0 16 16" id="settings">
              <path fill-rule="evenodd"
                    d="M10.5 1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4H1.5a.5.5 0 0 1 0-1H10V1.5a.5.5 0 0 1 .5-.5M12 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m-6.5 2A.5.5 0 0 1 6 6v1.5h8.5a.5.5 0 0 1 0 1H6V10a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5M1 8a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 1 8m9.5 2a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V13H1.5a.5.5 0 0 1 0-1H10v-1.5a.5.5 0 0 1 .5-.5m1.5 2.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
            </svg>
          </a></li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex justify-content-between" href="#">Log Out
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                <path fill-rule="evenodd"
                      d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
            </a>
          </li>

        </ul>
      </div>
      <div class="image-container" (click)="onClickNotificationButton()">
        <img src="/assets/img/Notification.png" alt="Notifications" class="notification-icon" width="35" height="35">
      </div>

     ****** Display notifications in your dropdown ******
      <div class="notification-dropdown" *ngIf="isNotificationDropdownOpen">
        <h4>Notifications</h4>

        <div *ngFor="let notification of notifications" class="notification-item">
          <div class="person-image-container">
            <img src="/" alt="Person Image">
          </div>

          <div class="notification-content " data-toggle="tooltip" data-placement="left"
               title="{{notification.content}}" >
            <strong>{{ notification.namesender }}</strong> <br> {{ notification.content }}
        </div>

          <div class="delete-icon-container">
            <button class="delete-button" (click)="onDeleteNotification(notification.id)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>

        <a href="#" class="read-more-link">Read more</a>
      </div>


    </div>

   *ngIf="isMenuOpen"-->




</div>

<div id="menu-hum">
  <!--<ul class="nav-links">
    <li><a (click)="goToPageSuivante('dashboard-super-add')">HOME</a>
      <hr>
    </li>
    <li><a (click)="goToPageSuivante('gestion-doc')">GESTION DES DOCTEURS
      <hr>
    </a></li>
    <li><a (click)="goToPageSuivante('gestion-cust')">GESTION DES CLIENTS
      <hr>
    </a></li>
    <li><a>GESTION DES RENDEZ-VOUS</a>
      <hr>
    </li>
  </ul>-->
  <app-side-bar-admin></app-side-bar-admin>
</div>
<div class=" content p-5">
<router-outlet></router-outlet>
</div>

