.bg-nav{
    background-color:#323e67 ;
    color:black;
    z-index: 40;
   
    
}
.navbar-brand{
    margin-left: 6%;
}
.nav li a{
   color: white;
   margin-top: 8px;
}
img{
    margin-right: 0px;
}
.icon{
   font-size: large;
   margin-top: 2px;
    color : white;
}