<!--<div class="col-12 m-5"><app-navbar></app-navbar></div>
<app-home-page-parent>

</app-home-page-parent>
<br>
<br>
<br>
<br>
<br>
<br>

<app-service></app-service>


<app-statistique></app-statistique>

<app-contact></app-contact>

<div class="col-12">
<app-home></app-home></div>

<app-form-card></app-form-card>
<app-service-medical></app-service-medical>
<div class="col.12">
   <app-blogs></app-blogs> 
</div>
<app-doctor></app-doctor>
<app-footer></app-footer>-->
<div class="m-5" >
   <app-blogs-detail></app-blogs-detail>
</div>
