
.img-thumbnail{

height: 60%;

padding: 0;
}
.col-white{
color: white;
}
.bleu{
    color:#677295;
}
.fonction{
    margin-left: 5%;
   padding-bottom: 3%;
}
button{
    border: none;
    background-color: transparent; 
    margin-right: 15px;
}
.icon-down{
    color:#677295;
}
.icon-down:hover{
    font-size: larger;
}
.card{
    border: none;
    
    background-color: transparent; 

}
.card input{
    background-color: transparent; 
    border: solid #363f5dce;
}
.star{
    color: rgb(252, 184, 59);
}
.Change-btn{
    width:100%;
    padding: 1%;
    border-radius: 15px;
    background-color: #323e67;
    color: white;
    font-weight: bolder;
}
.Change-btn:hover{
    background-color: #67686b;
}
