<body>
<div class="blog-area default-padding  bottom-less container-blog ">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="site-heading text-center">
                <h4>News</h4>
                <h2>Latest Blog</h2>
            </div>
        </div>
    </div>
 
        <div class="blog-items">
            <div class="blog-content">
                <div class="blog-item-box">
                    <div class="row">
                        <!--Single item-->
                        <div class="col-lg-4 col-md-6 single-item">
                            <div class="item">
                                <div class="thumb">
                                    <a href="#"><img src="assets/img/image2.png" alt="Thumb"> </a>
                                </div>
                                <div class="info">
                                    <span class="date">
                                        12 Aug
                                    </span>
                                    <div class="meta">
                                        <ul>
                                            <li>
                                                <i class="fas fa-user"></i>
                                                <span>John Hasi</span>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fas fa-comments"></i> 36 Comments</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h4>
                                        <a href="#">Bssistance favourable is the collecting. </a>
                                    </h4>
                                    <a class="btn btn-sm btn-theme border circle" href="#">Read More <i
                                            class="fas fa-angle-right"></i></a>
                                           

                                </div>
                            </div>
                        </div>
                        <!--End Single Item-->
                         <!--Single item-->
                         <div class="col-lg-4 col-md-6 single-item">
                            <div class="item">
                                <div class="thumb">
                                    <a href="#"><img src="assets/img/image2.png" alt="Thumb"> </a>
                                </div>
                                <div class="info">
                                    <span class="date">
                                        12 Aug
                                    </span>
                                    <div class="meta">
                                        <ul>
                                            <li>
                                                <i class="fas fa-user"></i>
                                                <span>Admin</span>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fas fa-comments"></i> 7 Comments</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h4>
                                        <a href="#">Difficult contented we determine ourselves</a>
                                    </h4>
                                    <a class="btn btn-sm btn-theme border circle" href="#">Read More <i
                                            class="fas fa-angle-right"></i></a>
                                           

                                </div>
                            </div>
                        </div>
                        <!--End Single Item-->
                      <!--Single item-->
                      <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="assets/img/image2.png" alt="Thumb"> </a>
                            </div>
                            <div class="info">
                                <span class="date">
                                    12 Aug
                                </span>
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <i class="fas fa-user"></i>
                                            <span>Admin</span>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fas fa-comments"></i> 7 Comments</a>
                                        </li>
                                    </ul>
                                </div>
                                <h4>
                                    <a href="#">Difficult contented we determine ourselves</a>
                                </h4>
                                <a class="btn btn-sm btn-theme border circle" href="#">Read More <i
                                        class="fas fa-angle-right"></i></a>
                                       

                            </div>
                        </div>
                    </div>
                    <!--End Single Item-->
                    </div>
                </div>
            </div>
        </div>
  </div>

</div>
</body>