<!-- Start Contact Area
    ============================================= -->
    <div class="contact-area default-padding">
      <div class="container">
          <div class="contact-items">
              <div class="row">

                  <div class="col-lg-8 left-item">
                      <div class="content">
                          <h2>Contact our <strong>Support Office</strong></h2><form (ngSubmit)="saveNotification()" class="contact-form">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <input [(ngModel)]="notification.namesender" class="form-control" id="name" name="name" placeholder="Name" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group">
                              <input [(ngModel)]="notification.emailsender" class="form-control" id="email" name="email" placeholder="Email*" type="email">
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <input [(ngModel)]="notification.phone" class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group comments">
                              <textarea [(ngModel)]="notification.content" class="form-control" id="comments" name="comments" placeholder="Tell Us About Project *"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <button type="submit" name="submit" id="submit">
                              Send Message <i class="fa fa-paper-plane"></i>
                            </button>
                          </div>
                        </div>
                        <!-- Alert Message -->
                        <div class="col-lg-12 alert-notification">
                        </div>
                      </form>
                      </div>
                  </div>

                  <div class="col-lg-4 right-item">
                      <div class="info-items">
                          <!-- Single Item -->
                          <div class="item">
                              <div class="icon">
                                  <i class="flaticon-location-1"></i>
                              </div>
                              <div class="info">
                                  <h5>Location</h5>
                                  <p>
                                      22 Baker Street, London, United Kingdom, W1U 3BW
                                  </p>
                              </div>
                          </div>
                          <!-- End Single Item -->
                          <!-- Single Item -->
                          <div class="item">
                              <div class="icon">
                                  <i class="flaticon-call"></i>
                              </div>
                              <div class="info">
                                  <h5>Make a Call</h5>
                                  <p>
                                      +44-20-7328-4499
                                  </p>
                              </div>
                          </div>
                          <!-- End Single Item -->
                          <!-- Single Item -->
                          <div class="item">
                              <div class="icon">
                                  <i class="flaticon-email"></i>
                              </div>
                              <div class="info">
                                  <h5>Send a Mail</h5>
                                  <p>
                                      info@yourdomain.com
                                  </p>
                              </div>
                          </div>
                          <!-- End Single Item -->
                          <!-- Single Item -->
                          <div class="item">
                              <div class="icon">
                                  <i class="flaticon-clock-1"></i>
                              </div>
                              <div class="info">
                                  <h5>Opening Hours</h5>
                                  <p>
                                      Sat - Mon: <span>8:00 - 15:45</span><br>
                                      Tue - Wed: <span>10:00 - 16:00</span>
                                  </p>
                              </div>
                          </div>
                          <!-- End Single Item -->
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
  <!-- End Contact -->
